<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plataforma de Votação Estudantil - Conta desativa</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="text-center mt-5">
    <h1 class="text-danger">Conta Desativa</h1>
    <h4>A sua conta encontra-se temporariamente desativada, caso queira voltar a ter acesso a mesma, queira por favor
        contactar a secretaria!</h4>
    <p>Plataforma de Votação Estudantil </p>
</div>
</body>
</html>