<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-mz">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Platforma de Votação</title>
</head>
<body>
<section class="d-flex">
    <div class="left-content">
        <div class="dashboard container text-bg-dark">
            <div class="text-center">
                <img th:src="@{/img/UCM.gif}" alt="">
                <h1>Plataforma de Votação Estudantil da Universidade Católica de Moçambique</h1>
                <h4>Faculdade de Economia e Gestão</h4>
            </div>
        </div>
    </div>
    <div class="right-content">

        <form class="login container" th:action="@{/recuperarPass}" method="Post">
            <div class="container w-75">
                <h2>Login</h2>
                <div class="d-flex flex-column gap-4">
                    <div class="d-flex flex-column gap-2">
                        <label>Endereço de Email</label>
                        <input
                                type="email"
                                class="form-control"
                                name="email"
                                placeholder="70000000@ucm.ac.mz"
                        />
                    </div>

                    <div class="d-flex flex-column gap-2">
                        <label>Qual é o seu animal favorito?</label>
                        <input
                                type="text"
                                class="form-control"
                                name="animal"
                        />
                    </div>
                    <p> A sua nova senha é: 123456789, mas antes responda as questões a cima pedidas!</p>
                </div>
                <button class="btn btn-success">Recuperar</button>
            </div>
            <div class="alert alert-danger" role="alert" id="wrong_password">
                <p th:text="${dadosInvalidos}" id="wrong_password_text"></p>
            </div>
        </form>
    </div>
</section>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
